input,textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

button,input,textarea,select,optgroup,option,file {
    font: inherit;
    outline: none;
    vertical-align: middle;
}

html,body {
    margin: 0;
    font-size: 14px;
    padding: 0;
    font-family: "Lantinghei SC","Microsoft YaHei","Hiragino Sans GB","Helvetica neue",Helvetica,Tahoma,Arial,"å¾®è½¯é›…é»‘","å®‹ä½“","é»‘ä½“";
}


.fl {
    float: left;
}

.fr {
    float: right;
}

*:focus {
    outline: none;
}
.wrap {
    margin: 0 auto;
    width: 1400px;
}

.none {
    display: none;
}

.clearfix {
    *zoom:1;}

.clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

/*css3自定义滚动条样式*/
::-webkit-scrollbar {       /*定义了滚动条整体的样式；*/
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {  /*滚动条里面轨道*/
    background: #f1f1f1;
}

::-webkit-scrollbar-track:hover {
    background: #eee;
}

::-webkit-scrollbar-thumb {   /*滑块部分；*/
    border-radius: 10px;
    background: #b9b9b9;
}

::-webkit-scrollbar-thumb:hover {
    background: #747474;
}

::-webkit-scrollbar-thumb:active {
    background: #555;
}
/*----end =.=  css3自定义滚动条样式*/
body{
    background: #f0f3f4;
}

.indheader {
    background: #fff;
    height: 98px;
    padding-top: 18px;
    min-width: 1200px;
}


.indheader .searchwd {
    width: 630px;
    margin-left: 45px;
    padding-top: 5px;
}

.indheader .search {
    height: 40px;
    line-height: 38px;
    border: 1px solid #00c090;
    border-radius: 47px;
    overflow: hidden;
}

.indheader .search .webtxt {
    float: left;
    background: #fff;
    height: 38px;
    border: none;
    padding-left: 24px;
    font-size: 15px;
    color: #333;
    width: 500px;
}

.indheader .search .webtn {
    float: right;
    color: #fff;
    font-size: 16px;
    height: 38px;
    cursor: pointer;
    border: none;
    text-align: center;
    background: linear-gradient(to right,#01c091,#2d9da6);
    width: 110px;
}

.indheader .searchwd .word {
    font-size: 12px;
    color: #909090;
    padding-top: 6px;
    padding-left: 22px;
}

.indheader .searchwd .word a {
    margin-right: 15px;
    color: #909090;
}

.indheader .casebtn {
    float: left;
    padding-top: 5px;
}

.indheader .casebtn a {
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    float: left;
    margin: 0 10px;
}

.indheader .casebtn a.product {
    width: 122px;
    background: linear-gradient(to right,#01c091,#2d9da6);
}

.indheader .casebtn a.infors {
    width: 106px;
    background: linear-gradient(to right,#f8ad7e,#f9781a);
    position: relative;
    padding-right: 24px;
    box-shadow: 2px 2px 12px -1px rgba(0,0,0,.2);
}
/*
.indheader .casebtn a.infors:before {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../images/home/v2/inforico.png) no-repeat center;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}*/

.indheader .casebtn a.infors ins {
    display: block;
    min-width: 18px;
    height: 14px;
    line-height: 12px;
    background: #f00;
    border-radius: 14px;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 2px;
    text-align: center;
    font-size: 12px;
    padding: 2px 3px;
}

.indheader .hduser {
    padding-left: 20px;
    padding-top: 3px;
}

.indheader .hduser .nologin a {
    display: block;
    cursor: pointer;
}

.indheader .dlh {
    position: relative;
}

.indheader .dlh:hover .user-drop-state {
    display: block;
}

.indheader .user-photo {
    padding-bottom: 20px;
}

.indheader .user-photo a {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    border: #dbdbdb 1px solid;
    display: block;
}

.indheader .user-drop-state {
    width: 160px;
    position: absolute;
    left: -120px;
    top: 60px;
    z-index: 5;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 10px 0 0;
    border-radius: 2px;
    display: none;
    z-index: 999999;
}

.indheader .user-drop-state dd {
    color: #666;
    height: 46px;
}

.indheader .user-drop-state dd a {
    display: block;
    text-indent: 20px;
    height: 46px;
    line-height: 46px;
    position: relative;
    color: #333;
}

.indheader .user-drop-state .user-name {
    height: 30px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
}

.indheader .user-drop-state .user-name {
    display: inline-block;
    color: #333;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.indheader .user-drop-state .user-name:hover {
    color: #0ec5a1;
}

.indheader .user-drop-state .user-id {
    color: #999;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    text-indent: 20px;
    margin-bottom: 5px;
}

.indheader .user-drop-state dd:hover a {
    color: #fff;
    background-color: #0ec5a1;
}

/*.indheader .user-drop-state .top-arrow {
    position: absolute;
    top: -10px;
    right: 10px;
    background: url(../../images/home/v2/arrowers.png) no-repeat center;
    display: inline-block;
    height: 10px;
    width: 16px;
}*/

.indheader .user-drop-state dd a em {
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 17px;
    left: 78px;
    background-color: #ff4435;
    border-radius: 6px;
}

.indheader .user-drop-state .login-out {
    border-top: #eee 1px solid;
}

.indheader .nav {
    width: 630px;
    margin-left: 75px;
    text-align: center;
    line-height: 50px;
    padding-top: 10px;
}

.indheader .nav a {
    font-size: 15px;
    color: #333;
    margin: 0 17px;
}

.indheader .nav a:hover {
    color: #00c090;
}

.minheader {
    position: fixed;
    top: -70px;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 6666;
    padding: 10px 0;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    display: none;
    box-shadow: 0 5px 15px -3px rgba(0,0,0,0.21);
}

.minheader .logos {
    width: 200px;
    padding-top: 8px;
}

.minheader .logos img {
    display: block;
    margin: 0 auto;
}

.minheader .search {
    margin-left: 175px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #00c090;
    border-radius: 47px;
    overflow: hidden;
}

.minheader .search .webtxt {
    float: left;
    background: #fff;
    height: 38px;
    border: none;
    padding-left: 24px;
    font-size: 15px;
    color: #333;
    width: 500px;
}

.minheader .search .webtn {
    float: right;
    color: #fff;
    font-size: 16px;
    height: 38px;
    cursor: pointer;
    border: none;
    text-align: center;
    background: linear-gradient(to right,#01c091,#2d9da6);
    width: 110px;
}

